# Vivado files and folders to ignore
.Xil/
*.jou
*.log
*.str
xsim.dir/
xvlog.pb
hw/proj
hw/src/bd/**/hdl/
hw/src/bd/**/hw_handoff/
hw/src/bd/**/ip/
hw/src/bd/**/ipshared/
hw/src/bd/**/sim/
hw/src/bd/**/synth/
hw/src/bd/**/ui/
hw/src/bd/**/*.bxml
hw/src/bd/**/*.xdc

# Vitis files and folder to ignore